body {
  padding-top: 90px;
}

a:link {
  text-decoration: none;
}

.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}

/* Masthead (docs home) */
.masthead {
  margin-bottom: 72px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 10px;
}
.masthead .byline {
  color: #909090;
}

/* Marketing */
.marketing h1,
.marketing p {
  text-align: center;
}

.marketing h1 {
  margin-bottom: 18px;
}

.marketing h1,
.marketing h2 {
  font-weight: 300;
}

.marketing p {
  text-align: left;
}

/* Footer */
.footer p {
  margin-bottom: 0;
}