body {
  padding-top: 60px;
  padding-bottom: 40px;
}

code {
  white-space: nowrap;
}
      
a:link {
  text-decoration: none;
}

.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}

/* Masthead (docs home) */
.masthead {
  margin-bottom: 72px;
}
.masthead h1 {
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead p {
  font-size: 30px;
  line-height: 1;
}
.masthead .byline {
  color: #909090;
}

/* Marketing */
.marketing h1,
.marketing p {
  text-align: center;
}

.marketing h1 {
  margin-bottom: 18px;
}

.marketing h1,
.marketing h2 {
  font-weight: 300;
}

.marketing p {
  text-align: left;
}

/* Footer */
.footer p {
  margin-bottom: 0;
}